.tarefas {
  margin-top: 30px;

}

.tarefas li{
  font-size: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  transition: all 400ms;
}
.tarefas li:hover{
  background-color: lightgrey;
}

.tarefas li .edit {
  margin-right: 15px;
  color: red;
  cursor: pointer;
}

.tarefas li .delet {
  margin-right: 15px;
  color: rgb(255, 2, 2);
  cursor: pointer;
}

.editDelet{
  display: flex;
  align-items: center;
}
